<html lang="te" dir="ltr">
<head>
   <meta charset="utf-8"> 
   <style>
         *{ margin: 0px; padding: 0px;}
         body{width: 550px;height: 400px;}
         .n1{ position: relative;top: 250px;left: 600px;}
         .n4{position: relative;top: 550px;left: 120px;width:120px;height: 60px;background-color: aqua;}
         .n4 ul{position: relative;top:20px;background-color: transparent;left:30px;}
   </style>
</head>
<body>
   <div class="n1">
      <h1>{{endPage}}</h1>
   </div>
   <div class="n4">
       <ul>
            <a href="{{previous_page_url}}">Previous</a>
       </ul>
   </div>
</body>
</html>