<html lang="te" dir="ltr">
<head><meta charset="utf-8"> 
     <style> 
     *{ margin: 0px; padding: 0px;}
     body{width: 550px;height: 400px;}
     .n1{ position: relative;top:10px;left: 600px;}
     .n2{position: relative;left:480px;top:80px;}
     .n3 {position: relative;left: 600px;top:140px;}
     nav{position: relative;top:220px;left:1000px;width:120px;height: 60px;background-color: aqua;}
     nav ul{position: relative;top:20px;background-color: transparent;left:40px;}
     .n4{position: relative;top: 170px;left: 120px;width:120px;height: 60px;background-color: aqua;}
     .n4 ul{position: relative;top:20px;background-color: transparent;left:30px;}
     </style>
     </head>
     <body>
            
         <div class="n1"><h2>{{english_txt}}</h2>
         </div>
         <div class="n2">
            <img src ="/{{image}}" width ="340" height="250">
         </div>
         <div class="n3"><h3>{{telugu_txt}}</h3>
         </div>
         <nav>
            <ul>
                <a href="{{next_page_url}}" color="transparent">Next</a>
            </ul>
        </nav>
      

    </body>
    </html>
    